main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px auto 48px auto;
}

#page-title {
  margin: 0 auto;
  font-size: 2rem;
}

#page-description {
  margin: 0;
  font-size: 0.9rem;
}