main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px auto 48px auto;
}

#page-description {
  margin: 0;
  font-size: 0.9rem;
}

html[dark="true"] #page-description {
  color: var(--neutral-200);
}

#links-card {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  border: 2px solid var(--neutral-800);
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  margin: 0;
}

html[dark="true"] #links-card {
  box-shadow: 4px 4px 8px rgba(89, 89, 89, 0.5);
  border-color: var(--neutral-400);
}

#links-card .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  gap: 16px;
  cursor: pointer;
  border-bottom: 1px solid var(--neutral-800);
  transition: all 200ms ease-in-out;
  color: var(--neutral-800);
  text-decoration: none;
}

html[dark="true"] #links-card .link {
  border-color: var(--neutral-500);
}

#links-card .link:hover {
  background-color: var(--neutral-200);
}

html[dark="true"] #links-card .link:hover {
  background-color: var(--neutral-700);
}

html[dark="true"] #links-card .link {
  color: var(--neutral-300);
}

#links-card .link.last {
  border-bottom: none;
}

#links-card .detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#links-card .icon {
  width: 1.25rem;
  height: 1.25rem;
  transition: all 200ms ease-in-out;
}

#links-card .link:hover .icon {
  color: var(--blue-500);
  transform: scale(1.1);
}

#links-card .text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#links-card .description {
  font-size: 0.8rem;
  color: var(--neutral-600);
  opacity: 0;
}

html[dark="true"] #links-card .link .description {
  color: var(--neutral-300);
}

@keyframes slide-in {
  from {
    transform: translate(10px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 100%;
  }
}

#links-card .link:hover .description {
  animation: slide-in 500ms forwards;
}

#links-card .arrow {
  transition: all 200ms ease-in-out;
  color: var(--blue-500);
  opacity: 0;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0px);
  }
}

#links-card .link:hover .arrow {
  opacity: 100%;
  animation: bounce 1s infinite;
}
