main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px auto 48px auto;
}

#page-title {
  margin: 0 auto;
  font-size: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content p {
  margin: 0;
  font-size: 0.9rem;
}

html[dark="true"] #page-title {
  color: var(--neutral-200);
}

html[dark="true"] .content p {
  color: var(--neutral-200);
}
