main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px auto 48px auto;
}

#page-title {
  margin: 0 auto;
  font-size: 2rem;
}

html[dark="true"] #page-title {
  color: var(--neutral-200);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content p {
  margin: 0;
  font-size: 0.9rem;
}

.content a {
  color: var(--blue-500);
}

html[dark="true"] .content p {
  color: var(--neutral-200);
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skills h2 {
  margin: 0;
  font-size: 1.1rem;
}

html[dark="true"] .skills {
  color: var(--neutral-200);
}

.skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skills li {
  font-size: 0.9rem;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #0ea4e967;
}
