:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;

  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --indigo-950: #1e1b4b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: var(--zinc-100);
  min-width: 280px;
  width: 100%;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 64px);
  align-items: center;
  margin: calc(0.5rem + 16px) auto calc(0.5rem + 16px) auto;
  position: relative;
  z-index: 10;
}

header a {
  text-decoration: none;
}

header h3 {
  position: relative;
  z-index: 2;
  margin: 0;
  cursor: default;
  color: var(--zinc-900);
}

header nav {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}

header nav a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--zinc-900);
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
}

header .hamburger {
  all: unset;
  display: block;
  width: 1.25rem;
  position: relative;
  top: 5%;
  height: 1.25rem;
  z-index: 2;
  cursor: pointer;
}

header .hamburger:focus {
  outline: solid var(--zinc-900) 2px;
}

header .hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  right: 0;
  overflow-y: visible;
  background-color: var(--zinc-900);
}

header .hamburger span:nth-child(1) {
  top: 0px;
}

header .hamburger span:nth-child(2),
header .hamburger span:nth-child(3) {
  top: 40%;
}

header .hamburger span:nth-child(4) {
  top: 80%;
}

header.open .hamburger span:nth-child(1),
header.open .hamburger span:nth-child(4) {
  display: none;
}

header.open .hamburger span:nth-child(2) {
  transform: rotateZ(45deg);
}
header.open .hamburger span:nth-child(3) {
  transform: rotateZ(-45deg);
}

header .mobile-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100lvw;
  height: 100lvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--indigo-50);
}

header.open .mobile-nav {
  display: flex;
}

@media (min-width: 48rem) {
  header nav {
    display: flex;
  }

  header .hamburger,
  header .mobile-nav {
    display: none !important;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: calc(100% - 32px);
  max-width: 60rem;
}

.title {
  margin: 1rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  position: relative;
  text-align: center;
}

.title .art-1 {
  z-index: 2;
  position: relative;
  max-width: 10rem;
}

.title .art-2 {
  transform: scale(1.2) translateX(4px) translateY(2px) rotateY(180deg);
  position: relative;
  top: -1rem;
  z-index: 1;
  max-width: 10rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  margin-top: 3rem;
  background: var(--indigo-700);
  color: var(--zinc-100);
}

footer h3,
footer p {
  margin: 0;
}